/*
 * Global variable declarations
 */

:root {
  --navbar-size: max(36px, 5vh);
  --primary-background: #bdc4c7;
  --secondary-background: #6b8b99;
  --primary-highlight: #ff8800;
  --secondary-highlight: #ffdeb8;
  --light-text: #faf8f5;
  --dark-text: #050300;
}

/*
 * General
 */
body,
html,
header {
  margin: 0px 0px;
  padding: 0px 0px;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

:focus {
  outline-width: 4px;
  outline-style: ridge;
  outline-color: aqua;
}

/*
 * Invisible anchors for jumping between sections
 */
a.anchor {
  display: block;
  position: relative;
  top: calc(-1 * var(--navbar-size, 32px));
  visibility: hidden;
}

footer {
  background-color: var(--secondary-background);
}

footer p {
  font-size: small;
  text-align: center;
  margin: 0;
  padding: 0.25em;
}

/* Section headers (About Me, Projects, & Contact) */
.sectionheading {
  background-color: var(--primary-highlight);

  font-size: max(32px, 5vh);
  text-align: center;

  margin: 0;
  padding: 0.3em 0;
  top: 0;
  position: relative;
  width: 100%;
  height: auto;

  /* (X Light Offset, Y Light Offset, Blur, Spread, Colour) */
  box-shadow: 0px 8px 16px 8px rgba(0, 0, 0, 0.2),
    0px 4px 8px 4px rgba(0, 0, 0, 0.35);
}

/*
 * Navigation Bar 
 */
#navbar {
  background-color: var(--primary-highlight);
  overflow: hidden;
  width: 100%;
  height: var(--navbar-size);
  padding: 0;
  white-space: nowrap;
  /* Anchor bar to the top of the page */
  position: fixed;
  z-index: 16;
  top: 0;
  /* (X Light Offset, Y Light Offset, Blur, Spread, Colour) */
  box-shadow: 0px 1px 32px -8px rgba(0, 0, 0, 0.75);
}

#navbar img {
  /* Logo */
  float: left;
  width: auto;
  height: 100%;
  line-height: normal;
  vertical-align: middle;
  padding: 0;
}

/* Menu */
#navbar ul {
  list-style-type: none;
  height: 100%;
  margin: 0;
  padding: 0;
  float: right;
}

.navbutton {
  display: inline;
  margin: 0;
  padding: 0;
  height: 100%;
}

#navbar a {
  float: left;
  color: var(--light-text);

  font-size: max(16px, 2vh);
  text-decoration: none;
  display:flex; 
  justify-content: center; 
  align-items: center; 

  height: 100%;
  padding: 0 1em;
}

#navbar a.active {
  background-color: var(--secondary-background);
  color: whitesmoke;
}

#navbar a:hover {
  animation-name: highlight;
  animation-duration: 400ms;
  animation-fill-mode: forwards;
}

@keyframes highlight {
  100% {
    background-color: var(--light-text);
    color: var(--dark-text);
  }
}

/*
 * Landing Area
 */

#landing {
  height: 100%;
  font-family: "Maiden Orange", cursive;

  /* Align greeting, slogan and profile */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--navbar-size);
  padding-bottom: 5vh;

  /* Display fullscreen background */
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
    url("../images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headshot {
  border-radius: 50%;
  max-width: max(20vh, 5vw);
  max-height: auto;
}

#landing h1 {
  text-align: center;
  color: whitesmoke;
  font-size: max(8vh, 5vw);
  margin: 0;
  padding: 0.5em;
}

#landing p {
  text-align: center;
  color: whitesmoke;
  font-size: max(4vh, 2.5vw);
  margin: 0;
  padding: 0.5em;
}

/*
 * About Me
 */

/* About Grid Mobile Ver. */
@media only screen and (max-width: 768px) {
  #aboutgrid {
    background-color: var(--primary-background);
    display: flex;
    flex-direction: column;
    padding: 4vh 8vw;
  }

  /* About Grid Elements */
  #abouttext {
    font-size: medium;
    text-indent: 3em;
    text-align: justify;
    line-height: 1.5em;
  }

  #aboutgrid img {
    width: clamp(128px, 25%, 256px);
    height: auto;
    margin: 2.5%;
    float: left;
    border: 2px solid black;
  }

  #aboutgrid h3 {
    background-color: var(--secondary-background);
    margin: 1em 0 0 0;
    padding: 2.5vh;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #aboutgrid ul {
    margin: 0;
    background-color: darkgray;
  }

  #aboutgrid li {
      padding: 1em 1em;
  }
}

/* About Grid Tablet Ver. */
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #aboutgrid {
    background-color: var(--primary-background);
    display: grid;
    column-gap: 2vw;
    flex-direction: column;
    padding: 4vh 8vw;
  }

  /* About Grid Elements */
  #abouttext {
    font-size: medium;
    text-indent: 3em;
    text-align: justify;
    line-height: 1.5em;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #aboutgrid img {
    width: clamp(128px, 25%, 256px);
    height: auto;
    margin: 2.5%;
    float: left;
    border: 2px solid black;
  }

  #aboutgrid h3 {
    background-color: var(--secondary-background);
    margin: 1em 0 0 0;
    padding: 2.5vh;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #aboutgrid ul {
    margin: 0;
    background-color: darkgray;
  }

  #aboutgrid li {
      padding: 1em 1em;
  }

  #skills {
    grid-row: 2;
    grid-column: 1;
  }

  #languages {
    grid-row: 2;
    grid-column: 2;
  }
}

/* About Content Grid Desktop Ver.*/
@media only screen and (min-width: 1280px){
  #aboutgrid {
    background-color: var(--primary-background);
    display: grid;
    column-gap: 5vw;
    padding: 4vh 8vw;
  }

  /* About Grid Elements */
  #abouttext {
    grid-column: 1;
    font-size: medium;
    text-indent: 3em;
    text-align: justify;
    line-height: 1.5em;
  }

  #aboutgrid img {
    width: clamp(128px, 25%, 256px);
    height: auto;
    margin: 2.5%;
    float: left;
    border: 2px solid black;
  }

  #aboutgrid h3 {
      margin: 2.5vh;
      font-size: x-large;
  }

  #aboutgrid li {
      margin: 1em 0;
  }
  #skills {
    grid-column: 2;
  }

  #languages {
    grid-column: 3;
  }
}


/*
 * Projects
 */
/* Desktop Grid Display */
@media screen and (min-width: 1280px) {
  #projectsgrid {
    display: grid;
    background-color: var(--primary-background);
    padding: 5vh 5vw;
    gap: 2.5vh 2.5vw;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

/* Tablet Rotated Grid Display */
@media screen and (min-width: 768px) and (max-width: 1279px){
  #projectsgrid {
    display: grid;
    background-color: var(--primary-background);
    padding: 3vh 3vw;
    gap: 1.5vh 1.5vw;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}
/* Mobile Flex Display */
@media screen and (max-width: 767px) {
  #projectsgrid {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-background);
    padding: 4vh 2vw;
    gap: 2.5vh 2.5vw;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}

/* Clickable Project Squares */
a.projectlink {
  text-decoration: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column;
}

figure {
  border: thick var(--primary-highlight) solid;
  padding: 0;
  max-width: 75%;
  height: fit-content;
  display: flex;

  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;

  overflow: auto;

  transition: all 0.25s ease-in-out;

  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2), 0 4px 4px rgba(0, 0, 0, 0.3);
}

figure:hover {
  transform: scale(1.15);
}

figcaption {
  background-color: darkgray;
  width: 100%;
}

figcaption h3 {
  color: darkblue;
  text-align: center;
  background-color: var(--secondary-background);
  font-size: 20px;
  padding: 0.5em 0;
  margin: 0px;
}

figcaption p {
  color: black;
  padding: 2.5% 5%;
  text-indent: 2em;
  text-align: justify;
  line-height: 1.25em;
  flex-grow: 2;
}

figure img {
  object-fit: fill;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: auto;
  flex-grow: 1;
}

#courseworkdisclaimer {
  background-color: var(--primary-background);
}

#courseworkdisclaimer h3 {
  background-color: var(--secondary-background);
  margin: 0;
  text-align: center;
  font-size: max(16px, max(2vh, 1.5vw));
  padding: 1em;
}

#courseworkdisclaimer p {
  padding: 2vh 8vw;
  margin: 0;
  text-indent: 3em;
  text-align: justify;
  line-height: 1.5em;
}

/*
 * Contact Me Section
 */

#contactcontainer {
  background-color: var(--primary-background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vmax 1vw;
}

#contactcontainer p {
  font-size: medium;
}

#contactcontainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

#contactcontainer li {
  display: inline;
  margin: 2em;
  width: auto;
}

.fa {
  font-size: max(48px, max(8vh, 4vw));
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  color: firebrick;
}
